In [80]:
import re

In [81]:
txt="on the horizon"
x=re.findall("on",txt)
print(x)
print(len(x))

['on', 'on']
2

In [82]:
# birden fazla karakteri aratıyorum ayrı ayrı a, r, n
x = re.findall("[arn]", txt)
 
print(x)
 
if x:
  print("There is match")
else:
  print("No match!")

print(x.count('a'))

['n', 'r', 'n']
There is match
0

In [83]:
#search'de aradığım veri setinde varsa hangi indexte olduğunu
# x.start() ile öğrenirim
txt="the python tutorial"
x=re.search("python", txt)
print("The python word located in position :", x.start())

The python word located in position : 4

In [84]:
txt = "Python regular expression Python"
y = re.match("regular", txt) # returns none 
# regular'ı bulamadı çünkü 0ıncı indexten başladığı için
# onu bulamadı. ilk indexten eşleşmesi lazım none döndürmemek için
print(y)
x = re.match("Python", txt) 
print(x)

None
<re.Match object; span=(0, 6), match='Python'>

In [85]:
# \s = \s+ boşluklardan itibaren tokenlara ayırıp ve liste olarak döndürür
txt="The python    word located in the position"
x=re.split("\s+", txt.lower())
print(x)
print(x.count('the'))

['the', 'python', 'word', 'located', 'in', 'the', 'position']
2

In [86]:
# ilk 2 boşluğu ayır
txt="The python word located in position"
x=re.split("\s", txt,2)
print(x)

['The', 'python', 'word located in position']

The ‘ ^ ’ character checks if the string starts with a particular word or character.

In [87]:
txt="The Python regular expression is a sequence of characters, that defines a search pattern."
x=re.findall("^The", txt)
if x:
  print("This sentence starts with Python")
else:
  print("This sentence doesn't start with Python")

This sentence starts with Python

The ‘$‘ character checks if the string ends with a particular word or character.

In [88]:
txt="The Python regular expression is a sequence of characters, that defines a search Python"
x=re.findall("Python$", txt)
if x:
  print("This sentence ends with Python")
else:
  print("This sentence doesn't end with Python")

This sentence ends with Python

In [89]:
x=[]
if x:
  print('True')
else:
  print('False')

False

In [90]:
txt="The Python regular expression is a sequence of characters, that defines a search pattern."
x=re.findall("Python|C#".lower(), txt.lower())
print(x)
print(x.count('Python'.lower()))
if x:
  print("There is at least one match!")
else:
  print("No match..")

['python']
1
There is at least one match!

In [91]:
#one or more occurrences of a character in a string. +
txt="This is Python example"
x=re.findall("thi+",txt.lower())
print(x)
if x:
  print("There is at least one match")
else:
  print("No match")

['thi']
There is at least one match

In [92]:
#zero or more occurrences of a character in a string *
txt="This is Python  thiii example"
x=re.findall("thi*",txt.lower())
print(x)
if x:
  print("There is at least one match")
else:
  print("No match")

['thi', 'th', 'thiii']
There is at least one match

In [93]:
#[a-k] arasındaki karakterler
txt="This is Python example"
x = re.findall("[a-k]", txt.lower())
print(x)

['h', 'i', 'i', 'h', 'e', 'a', 'e']

In [94]:
# \d decimal
txt="This is Python 100+ example"
x = re.findall("\d", txt)
print(x)

['1', '0', '0']

In [95]:
# he..o herhangi 2 karakter
txt="hello World"
x = re.findall("he..o", txt)
print(x)
if x:
  print('There is a match')
else:#else if elif
  print('No match..')

['hello']
There is a match

In [96]:
#il{2} kendinden önce gelen karakterden en az 2 tane olsun
txt="He was ill"
x = re.findall("il{2}", txt)
 
print(x)
if x:
  print("There is a match")
else:
  print("No match")

['ill']
There is a match

In [97]:
# [^arn] arn'nin olmadığı karakterleri gösteriyor
txt="This is Python example"
x = re.findall("[^arn]", txt)
 
print(x)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', ' ', 'e', 'x', 'm', 'p', 'l', 'e']

In [98]:
txt="This is Python example 234"
x = re.findall("[0123]", txt) 
print(x)

['2', '3']

In [99]:
txt = "python lectures 123"
 
x = re.findall("[0-9]", txt)
 
print(x)
 
if x:
  print("There is a match!")
else:
  print("No match!")

['1', '2', '3']
There is a match!

In [100]:
txt = "The lesson starts this morning at 44.99."
 
#Check if the string has any two-digit numbers, from 00 to 59:
 # [0-5][0-9]   [0-5]--> [1]1    [0-9] --> [4]5   11:45


x = re.findall("[0-5][0-9]", txt)
 
print(x)
 
if x:
  print("There is a match!")
else:
  print("No match!")

['44']
There is a match!

In [101]:
txt = "The lesson starts this morning at 11:45."
x = re.findall("[a-zA-Z]", txt)
 
print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['T', 'h', 'e', 'l', 'e', 's', 's', 'o', 'n', 's', 't', 'a', 'r', 't', 's', 't', 'h', 'i', 's', 'm', 'o', 'r', 'n', 'i', 'n', 'g', 'a', 't']
There is a match!

In [102]:
# [Pp] ister p ile ister P iile başlasın
txt = "The python lesson starts this morning at 11:45."
x = re.findall("[Pp]ython", txt)
print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['python']
There is a match!

In [103]:
txt = "he was ill."
x = re.findall("[ai]ll", txt)
print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['ill']
There is a match!

In [104]:
txt = "The lesson starts this morning at 11:45."
x = re.sub("\s", "@", txt)
print(x)

The@lesson@starts@this@morning@at@11:45.

In [105]:
# ? kendinden önce gelen karakter 0 veya 1 kere olsun
p = re.compile("colou?r")
m = p.search("The color green")
print(m.start())                    # returns 4
m = p.search("abc")                 # returns None
print(m)
p = re.compile("g?mail")
m = p.search("mail")
print(m.start())

4
None
0

## PANDAS

In [106]:
import pandas as pd # data processing, CSV file I/O

In [107]:
! py -m pip install pandas

Requirement already satisfied: pandas in c:\users\leeng\appdata\local\programs\python\python310\lib\site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\leeng\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\leeng\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\leeng\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: six>=1.5 in c:\users\leeng\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\leeng\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [109]:
! py -m pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp310-cp310-win_amd64.whl (7.4 MB)
     ---------------------------------------- 7.4/7.4 MB 780.7 kB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\leeng\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.22.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\leeng\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ------------------------------------ 298.0/298.0 KB 922.2 kB/s eta 0:00:00
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
  Running setup.py install for sklearn: started
  Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.2.0 scikit-learn-1.1.2 sklearn-0.0 threadpoolctl-3.1.0

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\leeng\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [110]:
# from sklearn.datasets import fetch_california_housing

# california_housing = fetch_california_housing(as_frame=True)

In [112]:
# df = pd.read_csv("/content/sample_data/california_housing_train.csv") gives error with me
df = pd.read_csv("california_housing_train.csv")

#dataframe

In [113]:
print(df.shape) # shape() --> rows, colomns

(17000, 9)

In [114]:
print(df.columns)

Index(['longitude', 'latitude', 'housingMedianAge', 'totalRooms',
       'totalBedrooms', 'population', 'households', 'medianIncome',
       'medianHouseValue'],
      dtype='object')

In [115]:
print(df.dtypes) # columns2 types

longitude           float64
latitude            float64
housingMedianAge      int64
totalRooms            int64
totalBedrooms         int64
population            int64
households            int64
medianIncome        float64
medianHouseValue      int64
dtype: object

In [118]:
df.head() # default olarak ilk 5 veriyi gösteriyor
# df.head(3) ilk 3 veriyi gösteriyor

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500

In [119]:
df.tail(3) # head()'in tersi

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   longitude         17000 non-null  float64
 1   latitude          17000 non-null  float64
 2   housingMedianAge  17000 non-null  int64
 3   totalRooms        17000 non-null  int64
 4   totalBedrooms     17000 non-null  int64
 5   population        17000 non-null  int64
 6   households        17000 non-null  int64
 7   medianIncome      17000 non-null  float64
 8   medianHouseValue  17000 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 1.2 MB

In [121]:
print(df.describe()) # verileri matematiksel olarak inceleme

          longitude      latitude  housingMedianAge    totalRooms  \
count  17000.000000  17000.000000      17000.000000  17000.000000
mean    -119.562108     35.625225         28.589353   2643.664412
std        2.005166      2.137340         12.586937   2179.947071
min     -124.350000     32.540000          1.000000      2.000000
25%     -121.790000     33.930000         18.000000   1462.000000
50%     -118.490000     34.250000         29.000000   2127.000000
75%     -118.000000     37.720000         37.000000   3151.250000
max     -114.310000     41.950000         52.000000  37937.000000

       totalBedrooms    population    households  medianIncome  \
count   17000.000000  17000.000000  17000.000000  17000.000000
mean      539.410824   1429.573941    501.221941      3.883578
std       421.499452   1147.852959    384.520841      1.908157
min         1.000000      3.000000      1.000000      0.499900
25%       297.000000    790.000000    282.000000      2.566375
50%       434.000000   1167.000000    409.000000      3.544600
75%       648.250000   1721.000000    605.250000      4.767000
max      6445.000000  35682.000000   6082.000000     15.000100

       medianHouseValue
count      17000.000000
mean      207300.912353
std       115983.764387
min        14999.000000
25%       119400.000000
50%       180400.000000
75%       265000.000000
max       500001.000000

In [124]:
print(df["totalRooms"].describe())

count    17000.000000
mean      2643.664412
std       2179.947071
min          2.000000
25%       1462.000000
50%       2127.000000
75%       3151.250000
max      37937.000000
Name: totalRooms, dtype: float64

In [125]:
# hangi kayıttan kaç tane var 
#ÖR.: total rooms'u 1582 olan 16 kayıt var 
df["totalRooms"].value_counts()

1582     16
1527     15
1717     14
1703     14
1471     14
         ..
5896      1
11275     1
10626     1
151       1
2694      1
Name: totalRooms, Length: 5533, dtype: int64

In [126]:
df[df["totalRooms"]==1582]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
2064,-117.33,34.03,14,1582,347,825,259,2.8281,106300
3191,-117.85,34.14,35,1582,248,654,221,4.9091,275000
3433,-117.89,33.88,33,1582,256,771,240,5.3836,229600
4828,-118.09,33.91,34,1582,343,1356,324,3.4211,141100
6332,-118.25,33.89,35,1582,391,1957,404,2.4537,91500
6586,-118.28,34.04,25,1582,780,2390,719,1.4167,200000
6726,-118.29,33.98,41,1582,416,1422,370,1.0516,108300
7208,-118.33,33.99,46,1582,315,777,286,3.2083,149600
7788,-118.39,34.16,46,1582,279,603,283,5.1169,414300
8200,-118.44,34.22,41,1582,399,1159,378,2.8250,168600
8960,-118.90,34.19,26,1582,196,573,182,10.0595,500001
10121,-119.82,36.78,36,1582,313,761,318,2.6055,69200
13615,-121.98,37.36,33,1582,272,809,267,5.7059,287200
13998,-122.04,37.35,28,1582,264,696,270,5.6780,370100
15937,-122.43,37.76,52,1582,353,868,329,3.8261,250000
16774,-122.99,39.02,14,1582,301,851,273,3.4500,164100

In [130]:
df.sort_values(by='totalRooms', ascending=True).head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
2990,-117.79,35.21,4,2,2,6,2,2.3750,137500
16309,-122.50,37.79,52,8,1,13,1,15.0001,500001
8188,-118.44,34.28,46,11,11,24,13,2.8750,162500
15369,-122.29,37.81,46,12,4,18,7,0.4999,67500
15656,-122.37,37.60,26,15,3,11,3,5.0480,350000