In [1]:
x=2
y=5
txt='Hello World'

print(x+y)
print(x+3)
print(txt)

7
5
Hello World

In [2]:
x=y=1
print(x,y)

1 1

In [3]:
2+3

5

In [4]:
5-1

4

In [5]:
21%5

1

In [6]:
number=1

In [7]:
number==1

True

In [8]:
number != 1

False

In [9]:
number < 1

False

In [10]:
(number<3) and (number>0)

True

In [11]:
print(round(4.548787))
print(round(4.54879, 2))
print(round(4.448787))

5
4.55
4

In [12]:
def process(x, y):
  return (x + y) - (x - y)

print(process(1,2))

4

In [1]:
data=input("Enter Information...") #kullanıcı veri girişi işlemi

:

In [ ]:
type(data) # değişkeninin türüne erişim..
type(12)

In [1]:
print ('''Manisa Celal Bayar University
Faculty of Engineering
Computer Engineering''')

Manisa Celal Bayar University
Faculty of Engineering
Computer Engineering

In [2]:
print ("Manisa Celal Bayar University Faculty of Engineering Computer Engineering")

Manisa Celal Bayar University Faculty of Engineering Computer Engineering

In [3]:
aList=['Computer','Telephone','TV']
print(aList)

['Computer', 'Telephone', 'TV']

In [4]:
print(aList[0])
print(aList[2])
print(aList[-1])

Computer
TV
TV

In [5]:
bList=['Keyboard','Wifi','Mouse']

In [6]:
cList=[aList,bList]
print(cList)
print(cList[1][1])

[['Computer', 'Telephone', 'TV'], ['Keyboard', 'Wifi', 'Mouse']]
Wifi

In [7]:
print(cList[0][1])
print(cList[1][1])

Telephone
Wifi

In [8]:
numbers=[1,2,3,4,5,6,7,8,9]

In [9]:
print(numbers[:])# all list
print(numbers[2:]) 
print(numbers[:4]) 
print(numbers[1:4]) 
print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[2, 3, 4]
[1, 4, 7]

In [10]:
len(numbers)

9

In [11]:
numbers[-3]

7

In [12]:
index=len(numbers)
numbers[index-1]

9

In [13]:
names=['Ali','Ayşe','Gökhan','Fatma','Batur','Mehmet','Ayşegül','Abdullah']
type(names)

list

In [14]:
max(names) # returns Mehmet since it starts with M

'Mehmet'

In [15]:
min(names)

'Abdullah'

In [16]:
'Ali' in names

True

In [17]:
# uzunluğa göre max ve min
print(max(names, key=len))
print(min(names, key=len))

Abdullah
Ali

In [18]:
lst=[3,5,7,9,4]

In [21]:
lst.append(1)
lst

[3, 5, 7, 9, 4, 1, 1]

In [22]:
lst.count(1)

2

In [23]:
lst1=[1,2,3]

In [24]:
lst.append(lst1)

In [25]:
print(lst)

[3, 5, 7, 9, 4, 1, 1, [1, 2, 3]]

In [26]:
lst.extend(lst1)

In [36]:
print(lst)
print(lst[7][1])

[3, 5, 7, 9, 4, 1, 1, [1, 2, 3], 1, 2, 3, 1, 2, 3]
2

In [35]:
lst.index(1)

5

In [37]:
lst.insert(2, 8)

In [38]:
print(lst)

[3, 5, 8, 7, 9, 4, 1, 1, [1, 2, 3], 1, 2, 3, 1, 2, 3]

In [39]:
del lst[2]

In [40]:
print(lst)

[3, 5, 7, 9, 4, 1, 1, [1, 2, 3], 1, 2, 3, 1, 2, 3]

In [41]:
del lst[7]
lst

[3, 5, 7, 9, 4, 1, 1, 1, 2, 3, 1, 2, 3]

In [42]:
lst2=[4,8,9,6,7,2,1]
lst2.sort()
print(lst2)
lst2.sort(reverse=True)
print(lst2)

[1, 2, 4, 6, 7, 8, 9]
[9, 8, 7, 6, 4, 2, 1]

In [43]:
sentence='Manisa Celal Bayar University'
print(sentence)
print(type(sentence))

Manisa Celal Bayar University
<class 'str'>

In [44]:
print(sentence)
print(sentence[4])
print(sentence[4:])
print(sentence[-10:])
print(sentence[19:])

Manisa Celal Bayar University
s
sa Celal Bayar University
University
University

In [45]:
print(sentence.find('Cel'))
print(sentence.find('University'))
print(sentence.find('a',6,11))

7
19
10

In [46]:
print(sentence.capitalize())

Manisa celal bayar university

In [47]:
print(sentence.upper())
print(sentence.lower())

MANISA CELAL BAYAR UNIVERSITY
manisa celal bayar university

In [48]:
sentence='MANISA Celal Bayar University'
print(sentence.count('a'))
print(sentence.lower().count('a')) 
print(sentence.lower().count('a',5,15))

3
5
3

In [49]:
print(sentence.replace('University','Uni'))

MANISA Celal Bayar Uni

In [50]:
example='             Hello World     '
print(example)

             Hello World

In [51]:
example2=example.strip()
print(example2)

Hello World

In [52]:
example3='      ******-------Hello World-------**************     '

In [53]:
ex4=example3.strip()
ex4=ex4.strip('*')
print(ex4)
print(ex4.strip('-'))

-------Hello World-------
Hello World

In [54]:
dictionary={}
dictionary1=dict()
print(type(dictionary),type(dictionary1))

<class 'dict'> <class 'dict'>

In [55]:
dictionary['One']=1
dictionary['Two']=2
print(dictionary)

{'One': 1, 'Two': 2}

In [56]:
print(dictionary['One'])

1

In [57]:
names=['Ali','Esmanur','Gül','Baransel']
numbers=[1,2,3,4]

In [58]:
dictionary3=zip(names,numbers)
print(type(dictionary3))
dictionary4=dict(dictionary3)
print(dictionary4) # key: value

<class 'zip'>
{'Ali': 1, 'Esmanur': 2, 'Gül': 3, 'Baransel': 4}

In [59]:
#Dict ==>key,value
dictionary4.keys()

dict_keys(['Ali', 'Esmanur', 'Gül', 'Baransel'])

In [60]:
dictionary4.values()

dict_values([1, 2, 3, 4])

In [61]:
dictionary4.items()

dict_items([('Ali', 1), ('Esmanur', 2), ('Gül', 3), ('Baransel', 4)])

In [62]:
number1=15
number2=17
if number1>number2:
  print('number1>number2')
  print(number1)
elif number1<number2: #else if==>elif
  print('number1<number2')
else:
  print('number1=number2')

number1<number2

In [63]:
if number1>number2:
  print('number1>number2')
else:
  if number1<number2:
    print('number1<number2')
  else:
    print('number1=number2')

number1<number2

In [64]:
for item in [1,2,3,4,5,6]:
  print(item *2)

2
4
6
8
10
12

In [65]:
a=[7,8,9,10,11]
for x in a:
  print(x / 2)

3.5
4.0
4.5
5.0
5.5

In [66]:
nestedList=[[1,2,3],[4,5,6],[7,8,9]]
for list1 in nestedList:
  print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [67]:
nestedList=[[1,2,3],[4,5,6],[7,8,9]]
wantedNumber=int(input('Enter Information'))
yes=0
for list1 in nestedList:
  for w in list1:
    if w==wantedNumber:
      yes=1
if yes==1:
  print('There is data in List...')
else:
  print('There is not data in List ..')

In [1]:
i=1
while i<5:
  print(i)
  i=i+1

1
2
3
4

In [2]:
for x in range(10):
  print(x)
  if x>=5:
    break

0
1
2
3
4
5

In [3]:
for i in range(10):#0 1 2 3 4 5 6 7 8 9 
  if i>3:
    print('Greater')
    continue
  elif i<6:
    print(i)

0
1
2
3
Greater
Greater
Greater
Greater
Greater
Greater

In [4]:
[10*x for x in range(1,5)]

[10, 20, 30, 40]

In [5]:
[i**2 for i in range(20) if i<5]

[0, 1, 4, 9, 16]

In [6]:
def printMessage():
  print('Hello World!')

In [7]:
printMessage()

Hello World!

In [8]:
def helloFunc(name):
  print("Hello ", name + " Welcome..")
  print(name + ",","How are you?")

In [ ]:
bilgi=input('Enter Name...')
helloFunc(bilgi)

In [9]:
def multiple(a,b):
  '''This function multiplies 2 numbers'''
  result=a*b
  return result

In [10]:
value=multiple(3,6)
print(value)

18

In [11]:
help(multiple)

Help on function multiple in module __main__:

multiple(a, b)
    This function multiplies 2 numbers

In [12]:
def add(x,y,z=10):
  return x+y+z

In [13]:
add(3,5)

18

In [14]:
add(3,5,8)

16

In [15]:
z=lambda x:x*x

In [16]:
z(5)

25

In [17]:
def z1(x):
  return x*x

In [18]:
z1(5)

25

In [19]:
lst1=[1,2,3,4,5]

In [22]:
newLst=map(lambda x:x+2, lst1)
print(type(newLst))

aaa=list(newLst)
print(aaa)

<class 'map'>
[3, 4, 5, 6, 7]

In [23]:
print(list(filter(lambda x:x<4, lst1)))
print(list(map(lambda x:x<4, lst1)))
print(lst1)

[1, 2, 3]
[True, True, True, False, False]
[1, 2, 3, 4, 5]